.calc{
    width: 312px;
    height: 416px;
    display: flex;
    background-color: rgb(255, 236, 131);
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
  align-items: center;
  border: 2px solid black;


}
.num{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black;
    font-size: 90px;
}
